<ion-header>
  <ion-navbar>

    <button *ngIf="menuBackBtn" ion-button icon-only (click)="gotoBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <!-- <button ion-button icon-only *ngIf="backAllBtn" ion-item (click)="backAll();  downloadForm = false;" class="button button-clear  ion-arrow-left-c ">
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->

    <!-- <button ion-button icon-only *ngIf="downloadDriver" ion-item (click)="downloadDriver = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;" class="button button-clear  ion-arrow-left-c ">
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->

    <!-- <ion-buttons left> -->

      <button ion-button icon-only *ngIf="backAllBtn" (click)="backAll();  downloadForm = false;" class="button button-clear  ion-arrow-left-c ">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <button ion-button icon-only *ngIf="downloadDriver" (click)="downloadDriver = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;" class="button button-clear  ion-arrow-left-c ">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

    <!-- </ion-buttons> -->

    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
      <ul class="heder-menu">
            <li>
              <ion-label hidden>Language</ion-label>
                <span class="country-flag {{countryClass}}"></span>
                <ion-select [selectOptions]="selectOptions" [(ngModel)]="countryName" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                    <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
                  </ion-select>
            </li>
            <li>
              <a class="top-register-link" (click)="pushRegister()">Register</a>
            </li>
          </ul>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ion-grid class="sub-header">
          <ion-row>
              <ion-col col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 class="text-right">
                  <a class="change-model" (click)="pushHome()">Change Model</a>
              </ion-col>
          </ion-row>
      </ion-grid> -->
<ion-grid class="banner-parent">
  <ion-row>
      <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <div class="banner-image">
          <a class="change-model" (click)="pushHome()">Change Model </a>
            <img width="100%"  src="http://124.30.44.230/funaihelpver1/{{ modelPic}}" class="img-responsive" alt=""/>
          </div>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="tab-section-parent">
  <div class="tab-section">
     <a class="button active" role="tab">
      <span class="tab-button-text">Downloads</span>
    </a>
    <a class="button" (click)="gotoTrob()" role="tab">
     <span class="tab-button-text">Troubleshooting</span>
   </a>
  </div>
</ion-grid>

<ul class="custome-list download-space">
  <!-- <li *ngIf="backAllBtn" class="download-back"><button ion-item (click)="backAll();  downloadForm = false;" class="button button-clear  ion-arrow-left-c "> Back</button></li> -->
  <!-- <li *ngIf="all || Manual" (click)="subOpt($event)" class="Manual">
    <div class="img-circle">
      <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star" style="color: #ffc125; transform: scale(3); transform-origin: -2vw -0.5vh;"></ion-icon>
    </div>
    Manual and Quick Setup Guide
  </li> -->
  <li *ngIf="all || Drivers" (click)="subOpt($event)" [class.active]="Drivers==true" class="Drivers">
    <div class="img-circle"></div>
    {{downloadH1}}
  </li>
  <li *ngIf="all || Firmware" (click)="subOpt($event)" [class.active]="Firmware==true" class="Firmware">
    <div class="img-circle"></div>
    {{downloadH2}}
  </li>
  <li *ngIf="all || Manual" (click)="subOpt($event)" [class.active]="Manual==true" class="Manual">
    <div class="img-circle"></div>
    {{downloadH3}}
  </li>
  <li *ngIf="all || Connect" (click)="subOpt($event)" [class.active]="Connect==true" class="Connect">
    <div class="img-circle"></div>
    {{downloadH4}}
  </li>
  <li *ngIf="all || Download" (click)="subOpt($event)" [class.active]="Download==true" class="Download">
    <div class="img-circle"></div>
    {{downloadH5}}
  </li>
  <!-- <li *ngIf="all || Download" (click)="subOpt($event)" class="Download">
    <div class="img-circle">
      <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star" style="color: #ffc125; transform: scale(3); transform-origin: -2vw -0.5vh;"></ion-icon>
    </div>
    Download Warranty @Safety Sheets
  </li> -->

</ul>


<ul class="custome-list sub-tabs manual-quick row">
  <li *ngIf="Drivers" class="row">
    <!-- <div class="img-circle">
      <ion-icon name="star"></ion-icon>
    </div> -->
    <ul class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <li class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngFor="let os of OSTypes ; index as i" (click)="downloadDetails(os.osId,'drivers'); downloadDriver = true; Drivers = false; backAllBtn = false; downloadForm = true; agreeTC = true;">

          {{ os.title }}

      </li>
      <!-- <li *ngIf="backAllBtn"><button ion-item (click)="Drivers = false" class="button button-clear  ion-arrow-left-c "> Back</button></li> -->
    </ul>



    <!-- <ul>
      <li>Windows</li>
      <li>Mac</li>
      <li>Linux 32Bit</li>
      <li>Linux 64Bit</li>
      <li>Linux 32/64 Bit</li>
    </ul> -->
  </li>
  <li *ngIf="Firmware" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <!-- <div class="img-circle">
      <ion-icon name="star"></ion-icon>
    </div> -->
    <ul  class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <li class="row" *ngFor="let os of OSTypes ; index as i" (click)="downloadDetails(os.osId,'firmwares'); downloadFirmware = true; Firmware = false; backAllBtn = false; downloadForm = true; agreeTC = true;">

          {{ os.title }}

      </li>
    </ul>
  </li>
  <li *ngIf="Manual" class="col-12 col-xs-12 col-sm-12">
  <a href="http://www.funaihelp.com/media/uploads/{{ ownersManual}}" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Owners Manual -->
    {{ downloadSub1 }}
  </a>
  </li>
  <li *ngIf="Manual" class="col-12 col-xs-12 col-sm-12">
  <a href="http://www.funaihelp.com/media/uploads/{{ quickstartGuide}}" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Quickstart Guide -->
      {{ downloadSub2 }}
    </a>
  </li>
  <li class="download-app" *ngIf="Connect && deviceIs == 'Android'" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="{{android_url}}">
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Download the Android App -->
      <span>{{ downloadSub3 }}</span>
    </a>
    <p float-right text-center class="supportPrinter"><ion-icon name="checkmark" ios="ios-checkmark" md="md-checkmark" class="tickmark"></ion-icon>Your device is supported <br><span class="small" color="yellowish" (click)="showDevicelist()">Show all supported devices</span></p>
    <!-- <div col-12>
      <ion-item hidden>
        <p [innerHTML]="supported_deviceList"></p>
      </ion-item>
    </div> -->
  </li>
  <li *ngIf="Connect && deviceIs == 'iphone'" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="{{ios_url}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <span>{{ downloadSub4 }}</span>
    </a>
    <p float-right text-center class="supportPrinter"><ion-icon name="checkmark" ios="ios-checkmark" md="md-checkmark" class="tickmark"></ion-icon>Your device <br>is supported <br><span class="small" color="yellowish" (click)="showDevicelist()">Show all supported devices</span></p>
        <!-- Download the iphone App -->
  </li>
  <li *ngIf="Connect" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="{{AirPrintUrl}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Learn About AirPrint -->
      {{ downloadSub5 }}
    </a>
  </li>
  <li *ngIf="Connect" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="{{GoogleCloud}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Learn About Google Cloud Print -->
      {{ downloadSub6 }}
    </a>
  </li>
  <li *ngIf="Download" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="http://www.funaihelp.com/media/uploads/{{ WarrantySafety}}" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Download Warranty & Safety Sheets -->
      {{ downloadSub7 }}
    </a>
  </li>
</ul>

<ion-grid *ngIf="downloadForm" class="downloadForm" margin-0>
  <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 >
    <ion-list>
      <ion-col class="col-12 col-xs-12 col-sm-12">
      <!-- <button *ngIf="downloadDriver" ion-item (click)="downloadDriver = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;" class="button button-clear  ion-arrow-left-c ">Change OS</button> -->
      <!-- <br> -->
      <p *ngIf="downloadDriver">{{ downloadTypes }}</p>
    </ion-col>
<!-- </ion-grid> -->

<!-- <ion-grid *ngIf="downloadFirmware"> -->
    <ion-col *ngIf="downloadFirmware" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <!-- <button *ngIf="downloadFirmware" ion-item (click)="downloadFirmware = false; Firmware = true; backAllBtn = true; downloadForm = false; agreeTC = false;" class="button button-clear  ion-arrow-left-c "> Change Firmware OS</button> -->
      <br>
      <p *ngIf="downloadFirmware">{{ downloadTypes }}</p>
    </ion-col>

    <ion-col *ngIf="downloadForm" class="col-12 col-xs-12 col-sm-12" style="margin:0;">
      <!-- <div *ngFor="let item of getFile_path">
        Name : {{ item.f_path }}
      </div> -->
      <form class="row downloadForm" [formGroup]="registerForm" (ngSubmit)="SubmitDownloadMail(os_name, description, version_name, download_type, getFile_path['f_path'])">
        <ion-input type="hidden" name="F_download_type" value="{{ download_type }}"></ion-input>
        <!-- <ion-input type="hidden" name="F_download_files" value="{{ download_files }}"></ion-input> -->

<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <!-- <ion-item> -->
    <div class="form-group"
    [ngClass]="{
   'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
   'has-success': firstName.valid && (firstName.dirty || firstName.touched)
 }">
    <ion-label color="dark">Name</ion-label>
    <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="Your Name">
    <!-- <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name"> -->
    <div col class="form-alert" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
      <p *ngIf="firstName.errors.required">Your Name is required</p>
      <p *ngIf="firstName.errors.pattern">Only alphabets allowed</p>
    </div>
    </div>
</div>

<div  class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="form-group"
  [ngClass]="{
  'has-danger': emailAddress.invalid && (emailAddress.dirty || emailAddress.touched),
  'has-success': emailAddress.valid && (emailAddress.dirty || emailAddress.touched)
  }">
  <ion-label color="dark">E-mail</ion-label>
  <input type="text" formControlName="emailAddress" name="emailAddress" class="form-control custom-form-control" required placeholder="Your E-mail">
  <!-- <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name"> -->
  <div col class="form-alert" *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)">
    <p *ngIf="emailAddress.errors.required">Email Address is required</p>
    <p *ngIf="emailAddress.errors.pattern">Email format should be <small><b>joe@abc.com</b></small></p>
  </div>
  </div>
</div>

<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" id="sucessMessage">
  <!-- <h5>{{ sucessMessage }}</h5> -->
</div>
<div  class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <button ion-button type="submit" [disabled]="!registerForm.valid" class="registerBtn" color="yellowish" col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 >Submit</button>
</div>


    </form>

  <div *ngIf="agreeTC && !Connect && !Download && !Manual" class="agreeTC" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">By downloading you agree to our <span (click)="showAlert()">TERMS OF USE</span></div>
  </div>

</ion-col>


  </ion-list>
</ion-col>
</ion-grid>

</ion-content>
