<ion-header>
  <ion-navbar>
    <button *ngIf="menuBackBtn" ion-button icon-only (click)="pushBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
      <ul class="heder-menu">
            <li>
              <ion-label hidden>Language</ion-label>
                <span class="country-flag {{countryClass}}"></span>
                <ion-select [selectOptions]="selectOptions" [(ngModel)]="countryName" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                    <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
                  </ion-select>
            </li>
            <li>
              <a class="top-register-link" (click)="pushRegister()">Register</a>
            </li>
          </ul>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-grid class="banner-parent">
  <ion-row>
      <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <div class="banner-image" *ngFor="let p of bannerPics">
          <a class="change-model" (click)="pushHome()">Change Model </a>
            <img width="100%"  src="http://124.30.44.230/funaihelpver1/{{ p.modelPic}}" class="img-responsive" alt=""/>
          </div>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="tab-section-parent">
  <div class="tab-section">
     <a class="button" role="tab">
      <span class="tab-button-text" (click)="gotoDownld()">Downloads</span>
    </a>
    <a class="button active" (click)="gotoTrob()" role="tab">
     <span class="tab-button-text">Troubleshooting</span>
   </a>
  </div>
</ion-grid>
<ion-grid>
<div  *ngIf="productLevel3List">
  <ul class="custome-list sub-tabs troubleshoot3-space">
        <!-- <a class="go-back" (click)="pushBack()"><img class="" width="20" src="assets/imgs/back-tab.jpg" alt="kodak-logo"></a> -->
    <li>
      <div class="">
        <!-- <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star"></ion-icon>  -->
      </div>
      {{new_title}}
    </li>
    <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
    <li col *ngFor="let p of productLevel2List ; index as i" (click)="level_id4(p.title, p.New_id3); productLevel3List = false;">
      <a>{{ p.title }}</a>
    </li>
  </ul>
</div>

<div class="clearfix"></div>


<div *ngIf="productLevel4List">

  <ul class="custome-list sub-tabs sub_level_4 troubleshoot3-space">

    <li>{{title_3}}</li>
    <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
    <li col *ngIf="faqstatus == 1" (click)="levelTo5()">
      <div class="img-circle faqstatus"></div>
      <a>FAQs</a>
    </li>
    <li col *ngIf="videostatus == 1" (click)="levelTo5()">
      <div class="img-circle videostatus"></div>
      <a>Video</a>
    </li>
    <li col *ngIf="vchatstatus == 1" (click)="levelTo5()">
      <div class="img-circle vchatstatus"></div>
      <a>CALL</a>
    </li>
    <li col *ngIf="driverstatus == 1" (click)="gotoDownld()">
      <div class="img-circle driverstatus"></div>
      <a>DRIVERS & SOFTWARE</a>
    </li>
    <li col *ngIf="achatstatus == 1" (click)="levelTo5()">
      <div class="img-circle achatstatus"></div>
      <a>ASSISTED CHAT</a>
    </li>
  </ul>
</div>
</ion-grid>
</ion-content>
