<!-- <ion-header>
    <ion-navbar>
      <button *ngIf="menuBackBtn" ion-button icon-only (click)="gotoBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-navbar>
</ion-header>
<ion-header> -->

<ion-header>
  <ion-navbar>
    <!-- <button ion-button icon-only (click)="gotoBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
        <ul class="heder-menu">
          <li>
            <ion-label hidden>Language</ion-label>
            <span class="country-flag {{countryClass}}"></span>

            <ion-select title="Language" [selectOptions]="selectOptions" [(ngModel)]="countryName" (ionChange)="setLang($event)" style="max-width: unset; padding: 0;">
              <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
            </ion-select>
          <!-- </ion-item> -->
          </li>
          <li><a class="top-register-link" (click)="pushRegister()">Register</a></li>
        </ul>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <div class="faqs-container">
        <div class="container" [innerHTML]="faqs"></div>
    </div>

    <div class="my-overlay" padding [hidden]="feedbackoverlayHidden">
      <div class="overlay-container">
          <div class="overlay-header">Kodak Printer Service</div>
          <div class="overlay-inner">
          <div class="issue-resolved-container">
              <p>Your feedback is valuable to us and helps us to serve you better in future</p>
              <h2>Was your issue resolved? Please click Yes / No</h2>
              <button full (click)="feedbackFormOpen()" class="thankYouBtn">No</button>
              <button full (click)="yesThankYou()" class="thankYouBtn">Yes</button>
          </div>
          </div>
      </div>
    </div>
    <div class="my-overlay" padding [hidden]="feedbackFormoverlayHidden">
      <div class="overlay-container">
        <div class="overlay-header">Kodak Printer Service</div>
        <div class="overlay-inner surveyOverley">
          <div class="feedback-container">
              <h4>Please tell us why?</h4>
              <form class="feedbackForm" #f="ngForm" (ngSubmit)="putSurvey()">
                  <div class="row">
                      <div class="col-xs-12">
                          <label class="radio">I preesed 'No' accidentally
                              <input type="radio" value="1" name="survey" [(ngModel)]="mySurvey">
                              <span class="checkround"></span>
                          </label>
                          <label class="radio">This was not my issue type, I want try quick self-help agin
                              <input type="radio" value="2" name="survey" [(ngModel)]="mySurvey">
                              <span class="checkround"></span>
                          </label>
                          <label class="radio">I want to chat with customer service
                              <input type="radio" name="survey" [(ngModel)]="mySurvey" value="3">
                              <span class="checkround"></span>
                          </label>
                          <div class="subRadiogroup" *ngIf="mySurvey === '3'">
                              <label class="radio">FAQs
                                  <input type="radio" value="faqs" name="surveyChildOne" [(ngModel)]="mySurveyChildOne">
                                  <span class="checkround"></span>
                              </label>
                              <label class="radio">Videos
                                  <input type="radio" value="play" name="surveyChildOne" [(ngModel)]="mySurveyChildOne">
                                  <span class="checkround"></span>
                              </label>
                              <label class="radio">Downloads
                                  <input type="radio" value="downloads" name="surveyChildOne" [(ngModel)]="mySurveyChildOne">
                                  <span class="checkround"></span>
                              </label>
                              <label class="radio">Virtual Chat
                                  <input type="radio" value="virtualChat" name="surveyChildOne" [(ngModel)]="mySurveyChildOne">
                                  <span class="checkround"></span>
                              </label>
                              <div class="alert alert-warning">
                                  Please tell us which above solution you opted did not work?
                              </div>
                          </div>
                          <button full type="submit" class="thankYouBtn">Thank You</button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>

</ion-content>
