
.surveyOverley { padding-bottom: 100px !important; }

.surveyOverley label { font-size: 12px; padding-left: 20px; }
.surveyOverley label input { margin: 0 !important; left: 0; top: 0; }
.subRadiogroup { margin-left: 20px; }

.thankYouBtn { background: #ffb834; font-size: 12px; color: #000; padding: 10px 30px; font-weight: 700; }