<ion-header>
  <ion-navbar>
    <button *ngIf="menuBackBtn" ion-button icon-only (click)="gotoBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
      <ul class="heder-menu">
            <li>
              <ion-label hidden>Language</ion-label>
                <span class="country-flag {{countryClass}}"></span>
                <ion-select [selectOptions]="selectOptions" [(ngModel)]="countryName" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                    <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
                  </ion-select>
            </li>
            <li>
              <a class="top-register-link" (click)="pushRegister()">Register</a>
            </li>
          </ul>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-grid class="banner-parent">
  <ion-row>
      <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <div class="banner-image" *ngFor="let p of bannerPics">
          <a class="change-model" (click)="pushHome()">Change Model </a>
            <img width="100%"  src="http://124.30.44.230/funaihelpver1/{{ p.modelPic}}" class="img-responsive" alt=""/>
          </div>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="tab-section-parent">
  <div class="tab-section">
     <a class="button" role="tab">
      <span class="tab-button-text" (click)="gotoDownld()">Downloads</span>
    </a>
    <a class="button active" (click)="gotoTrob()" role="tab">
     <span class="tab-button-text">Troubleshooting</span>
   </a>
  </div>
</ion-grid>

<ion-grid>
<ul class="custome-list troubleshoot troubleshoot-space {{productLevel2Class}}">
  <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
  <li *ngFor="let q of productLevel1List ; index as i">
    <div class="img-circle">
      <!-- <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star"></ion-icon> -->
    </div>
    <span col (click)="onclick(q.title, q.ref_id); productLevel2Class='active_'+ i">
      {{ q.title }}
    </span>
  </li>
</ul>

<ul class="custome-list sub-tabs {{productLevel2Class}}" *ngIf="PrinterList_2">
  <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li>
  <li col *ngFor="let p of productLevel2List ; index as i" (click)="onclick()">
    <div class="img-circle"></div>
    <a>{{ p.title }}</a>
  </li>
</ul>
</ion-grid>

<div class="my-overlay" padding [hidden]="feedbackoverlayHidden">
  <div class="overlay-container">
      <div class="overlay-header">Kodak Printer Service</div>
      <div class="overlay-inner">
      <div class="issue-resolved-container">
          <p>Your feedback is valuable to us and helps us to serve you better in future</p>
          <h2>Was your issue resolved? Please click Yes / No</h2>
          <button full (click)="feedbackFormOpen()" class="thankYouBtn">No</button>
          <button full (click)="yesThankYou()" class="thankYouBtn">Yes</button>
      </div>
      </div>
  </div>
</div>
<div class="my-overlay" padding [hidden]="feedbackFormoverlayHidden">
  <div class="overlay-container">
    <div class="overlay-header">Kodak Printer Service</div>
    <div class="overlay-inner surveyOverley">
      <div class="feedback-container">
          <h4>Please tell us why?</h4>
          <form class="feedbackForm" #f="ngForm" (ngSubmit)="putSurvey()">
              <div class="row">
                  <div class="col-xs-12">
                      <label class="radio">I preesed 'No' accidentally
                          <input type="radio" value="1" name="survey" [(ngModel)]="mySurvey">
                          <span class="checkround"></span>
                      </label>
                      <label class="radio">This was not my issue type, I want try quick self-help agin
                          <input type="radio" value="2" name="survey" [(ngModel)]="mySurvey">
                          <span class="checkround"></span>
                      </label>
                      <label class="radio">I want to chat with customer service
                          <input type="radio" name="survey" [(ngModel)]="mySurvey" value="3">
                          <span class="checkround"></span>
                      </label>
                      <div class="subRadiogroup" *ngIf="mySurvey === '3'">
                          <label class="radio">FAQs
                              <input type="radio" value="faqs" name="surveyChildOne" [(ngModel)]="mySurveyChildOne">
                              <span class="checkround"></span>
                          </label>
                          <label class="radio">Videos
                              <input type="radio" value="play" name="surveyChildOne" [(ngModel)]="mySurveyChildOne">
                              <span class="checkround"></span>
                          </label>
                          <label class="radio">Downloads
                              <input type="radio" value="downloads" name="surveyChildOne" [(ngModel)]="mySurveyChildOne">
                              <span class="checkround"></span>
                          </label>
                          <label class="radio">Virtual Chat
                              <input type="radio" value="virtualChat" name="surveyChildOne" [(ngModel)]="mySurveyChildOne">
                              <span class="checkround"></span>
                          </label>
                          <div class="alert alert-warning">
                              Please tell us which above solution you opted did not work?
                          </div>
                      </div>
                      <!-- <label class="radio">I want to talk to customer service
                          <input type="radio" name="survey" value="4" [(ngModel)]="mySurvey">
                          <span class="checkround"></span>
                      </label>
                      <div class="subRadiogroup" *ngIf="mySurvey === '4'">
                          <label class="radio">FAQs
                          <input type="radio" value="faqs" name="surveyChild" [(ngModel)]="mySurveyChild">
                          <span class="checkround"></span>
                          </label>
                          <label class="radio">Videos
                          <input type="radio" value="play" name="surveyChild" [(ngModel)]="mySurveyChild">
                          <span class="checkround"></span>
                          </label>
                          <label class="radio">Downloads
                          <input type="radio" value="downloads" name="surveyChild" [(ngModel)]="mySurveyChild">
                          <span class="checkround"></span>
                          </label>
                          <label class="radio">Virtual Chat
                          <input type="radio" value="virtualChat" name="surveyChild" [(ngModel)]="mySurveyChild">
                          <span class="checkround"></span>
                          </label>
                          <div class="alert alert-warning">
                              Please tell us which above solution you opted did not work?
                          </div>
                      </div> -->
                      <button full type="submit" class="thankYouBtn">Thank You</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
