<ion-header>
  <ion-navbar>
    <button *ngIf="menuBackBtn" ion-button icon-only (click)="pushBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
      <ul class="heder-menu">
            <li>
              <ion-label hidden>Language</ion-label>
                <span class="country-flag {{countryClass}}"></span>
                <ion-select [selectOptions]="selectOptions" [(ngModel)]="countryName" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                    <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
                  </ion-select>
            </li>
            <li>
              <a class="top-register-link" (click)="pushRegister()">Register</a>
            </li>
          </ul>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-grid class="banner-parent">
  <ion-row>
      <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <div class="banner-image" *ngFor="let p of bannerPics">
          <a class="change-model" (click)="pushHome()">Change Model </a>
            <img width="100%"  src="http://124.30.44.230/funaihelpver1/{{ p.modelPic}}" class="img-responsive" alt=""/>
          </div>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="tab-section-parent">
  <div class="tab-section">
     <a class="button" role="tab">
      <span class="tab-button-text" (click)="gotoDownld()">Downloads</span>
    </a>
    <a class="button active" (click)="gotoTrob()" role="tab">
     <span class="tab-button-text">Troubleshooting</span>
   </a>
  </div>
</ion-grid>

    <!-- <h1><div class="img-circle">
      <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star"></ion-icon>
    </div>{{new_title}}</h1> -->
<ul class="custome-list sub-tabs printer-setup {{productLevel2Class}}" >
    <!-- <br><br><br> -->
    <li class="active"><div class="img-circle"></div>{{new_title}}</li>
    <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
    <li *ngFor="let p of productLevel2List ; index as i">
      <span col (click)="onclick(i+1, p.level_id3, p.title); productLevel2Class='active_'+ i">
        {{ p.title }}
      </span>
    </li>
  </ul>
</ion-content>
